[Unit]
Description=TG weather bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/weather_bot
OOMScoreAdjust=-100
ExecStart=/opt/weather_bot/venv/bin/python main.py
Restart=always
TimeoutStartSec=300
Environment=PYTHONIOENCODING=utf-8
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target